<style>
    .clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
    }
    
    #fab_installer_container{
        width: 150px;
        border: 1px solid #888;
        border-radius: 10px;
        padding: 5px 7px 0 5px;
        font-family: consolas;
    }
    
    #fab_installer_container h3{
        font-size: 12px;
        margin: 0;
        padding: 0;
    }
    
    #fab_installer_container span{
        font-size: 11px;
    }
    
    .button{
        font-size: 11px;
        padding: 10px 0 20px 0;
        position: relative;
    }
    
    .button .label{float: left;}
    .button .abutton{float: right;}
    .button a{
        border: 1px solid #666;
        background-color: #ddd;
        text-decoration: none;
        padding: 2px;
        color: #333;
        display: block;
        width: 40px;
        position: absolute;
        right: 0;
        top: 8px;
    }
    
    .button span{
        width: 80px;
        display: block;
        background-color: red;
    }
    
    #fab_installer_container ul{
        list-style: none;
        margin: 0 0 0 5px;
        padding: 0;
    }
    
    #fab_installer_container ul li{
        padding-left: 20px;
        padding-top: 3px;
        font-size: 12px;
    }
    
    #fab_installer_container ul li.done{
        background: url("<!-- lw:var icon_done -->") 0 0 no-repeat;
    }
    
    #fab_installer_container ul li.error{
        background: url("<!-- lw:var icon_error -->") 0 0 no-repeat;
    }
    
    #progressbar_outer{
        width: 150px;
        height: 15px;
        border: 1px solid #888;
        border-radius: 5px;
        margin: 10px 0;
    }
    
    #progressbar_inner{
        height: 15px;
        background-color: greenyellow;
        border-radius: 5px;
    }
    
    #progressbar_inner span{
        padding-left: 60px;
        font-size: 12px;
    }
</style>

<div id="fab_installer_container">
    <h3>Status: fab_installer</h3>
    <div id="progressbar_outer">
        <div id="progressbar_inner" style="width:<!-- lw:var progressbar_width -->px;"><span><!-- lw:var percent -->%</span></div>
    </div>
    <span>installed/-ing Tables:</span>
    <ul>
        <li class="<!-- lw:var class_laender -->">fab_laender
            <ul>
                <li class="<!-- lw:var class_import -->" style="font-size:10px">laenderimport</li>
            </ul>
        </li>
        <li class="<!-- lw:var class_tagungen -->">fab_tagungen
            <!-- lw:if demodata --><ul>
                <li class="<!-- lw:var class_demodata -->" style="font-size:10px">tagungen demodata</li>
            </ul><!-- lw:endif demodata -->
        </li>
        <li class="<!-- lw:var class_teilnehmer -->">fab_teilnehmer
            <!-- lw:if demodata --><ul>
                <li class="<!-- lw:var class_demodata -->" style="font-size:10px">teilnehmer demodata</li>
            </ul><!-- lw:endif demodata -->
        </li>
        <li class="<!-- lw:var class_text -->">fab_text</li>
    </ul>
    
    <div class="button">
        <div class="label">main table:</div> 
        <div class="abutton"><a href="#" onclick="self.location.href='<!-- lw:var button_link -->';"><!-- lw:var buttonname --></a></div>
    </div>
    <div class="button">
        <div class="label">demodata:</div> 
        <div class="abutton"><a href="#" onclick="self.location.href='<!-- lw:var button_link_demo -->';"><!-- lw:var buttonname_demo --></a></div>
    </div>
</div>